<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="test" version="0.1">
  <MenuBar>
    <Menu name="file">
      <Action name="file_eol_type"/>
    </Menu>
    <Menu name="edit">
      <Action name="edit_tabs_to_spaces"/>
      <Action name="edit_spaces_to_tabs"/>
    </Menu>
    <Menu name="windows">
      <text>&amp;Windows</text>
      <ActionList name="window_list"/>
    </Menu>
  </MenuBar>
</kpartgui>
