[Desktop Entry]
Name=Katy
Exec=katy %i %m -caption "%c"
Icon=katy
MimeType=text/english;text/plain
Type=Application
DocPath=katy/katy.html
Terminal=0
